$darkpurple: #371437;
$fushia: #871a75;
$powderrose: #c8b6b4;
$grey: #e0dfdd;
$whiterose: #fefcff;

body {
    background-color: $whiterose;
    padding: 0;
    margin: 0;

    ul {
        list-style: none;
    }
    h1,
    h2 {
        font-family: "Pacifico", cursive;
        color: $fushia;
        text-align: center;
        font-size: 3em;
    }
    p {
        font-family: "Lato", sans-serif;
    }
}
#navbar {
    background-color: $fushia;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    h1 {
        font-weight: bold;
        color: $whiterose;
        font-size: 1.5em;
        a {
            color: $whiterose;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 0.5em;
    }
    a {
        color: $grey;
        padding: 0 1em;
        text-decoration: none;
        font-weight: bold;
    }
    .links {
        font-family: "Lato", sans-serif;
        font-weight: 900;
    }
}
#banner {
    background: url(../media/photos-accueil.jpg);
    width: 100vw;
    max-width: 100vw;
    margin-top: 5vh;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;

    .caption {
        width: 30%;
        height: auto;
        background: rgba(224, 223, 221, 0.7);
        padding: 3%;
    }
    .text {
        text-align: center;

        h3 {
            color: $whiterose;
            font-family: "Pacifico", cursive;
            font-size: 1.5em;
        }
        p {
            color: $darkpurple;
            font-family: "Lato", sans-serif;
        }
    }
    #payments {
        h3 {
            color: $fushia;
        }
    }
}
#arrangements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10% 0;

    h2 {
        text-align: center;
    }
    .arrUL {
        display: grid;
        display: -ms-grid;
        grid-template-columns: repeat(5, 1fr);
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 235px;
        -ms-grid-rows: 235px 235px 235px 235px;
        max-width: 100%;
        margin-top: 5%;
        padding: 0;
        grid-template-areas: ". arrOne arrTwo arrThree ." ". arrFour arrTwo arrFive ." ". arrSix arrSeven arrEight ." ". arrSix arrSeven arrEight .";
    }
    .arrOne {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        grid-area: arrOne;
        background-color: $whiterose;
        padding: 10px;
    }
    .arrTwo {
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        -ms-grid-row: 1;
        grid-area: arrTwo;
        background-color: $powderrose;
        padding: 10px;
    }
    .arrThree {
        -ms-grid-column: 4;
        -ms-grid-row: 1;
        grid-area: arrThree;
        background-color: $whiterose;
        padding: 10px;
    }
    .arrFour {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
        grid-area: arrFour;
        background-color: $darkpurple;
        padding: 10px;
    }
    .arrFive {
        -ms-grid-column: 4;
        -ms-grid-row: 2;
        grid-area: arrFive;
        background-color: $darkpurple;
        padding: 10px;
    }
    .arrSix {
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
        grid-area: arrSix;
        background-color: $grey;
        padding: 10px;
    }
    .arrSeven {
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
        grid-area: arrSeven;
        background-color: $whiterose;
        padding: 10px;
    }
    .arrEight {
        -ms-grid-column: 4;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
        grid-area: arrEight;
        background-color: $grey;
        padding: 10px;
    }
}
#grief {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10% 0;

    h2 {
        text-align: center;
    }
    .griefUL {
        display: grid;
        display: -ms-grid;
        grid-template-columns: repeat(5, 1fr);
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 235px;
        -ms-grid-rows: 235px 235px 235px 235px;
        max-width: 100%;
        margin-top: 5%;
        padding: 0;
        grid-template-areas: ". griefOne griefTwo griefThree ." ". griefFour griefTwo griefFive ." ". griefSix griefSeven griefEight ." ". griefSix . griefEight .";

        .griefOne {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            grid-area: griefOne;
            background-color: $whiterose;
            padding: 10px;
        }
        .griefTwo {
            -ms-grid-column: 3;
            -ms-grid-column-span: 2;
            -ms-grid-row: 1;
            grid-area: griefTwo;
            background-color: $grey;
            padding: 10px;
        }
        .griefThree {
            -ms-grid-column: 4;
            -ms-grid-row: 1;
            grid-area: griefThree;
            background-color: $whiterose;
            padding: 10px;
        }
        .griefFour {
            -ms-grid-column: 2;
            -ms-grid-row: 2;
            grid-area: griefFour;
            background-color: $darkpurple;
            padding: 10px;
        }
        .griefFive {
            -ms-grid-column: 4;
            -ms-grid-row: 2;
            grid-area: griefFive;
            background-color: $darkpurple;
            padding: 10px;
        }
        .griefSix {
            -ms-grid-column: 2;
            -ms-grid-column-span: 2;
            -ms-grid-row: 3;
            grid-area: griefSix;
            background-color: $powderrose;
            padding: 10px;
        }
        .griefSeven {
            -ms-grid-column: 3;
            -ms-grid-row: 3;
            grid-area: griefSeven;
            background-color: $darkpurple;
            padding: 10px;
        }
        .griefEight {
            -ms-grid-column: 4;
            -ms-grid-column-span: 2;
            -ms-grid-row: 3;
            grid-area: griefEight;
            background-color: $powderrose;
            padding: 10px;
        }
    }
}
footer {
    background: $fushia;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    h2,
    p,
    a {
        font-family: "Lato", sans-serif;
        color: $whiterose;
        text-align: start;
        margin: 0;
        text-decoration: none;
    }
    h2 {
        font-size: 1.5em;
    }
    .legNotice {
        align-self: center;
        a {
            padding: 25px;
        }
    }
}
.legNoticePage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10vh 5vh;
    ul {
        li {
            h4 {
                font-family: "Lato", sans-serif;
                font-size: 2.5em;
                font-weight: bold;
                color: $powderrose;
            }
            p {
                color: $darkpurple;
            }
        }
    }
}
