body {
  background-color: #fefcff;
  padding: 0;
  margin: 0;
}

body ul {
  list-style: none;
}

body h1,
body h2 {
  font-family: "Pacifico", cursive;
  color: #871a75;
  text-align: center;
  font-size: 3em;
}

body p {
  font-family: "Lato", sans-serif;
}

#navbar {
  background-color: #871a75;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

#navbar h1 {
  font-weight: bold;
  color: #fefcff;
  font-size: 1.5em;
}

#navbar h1 a {
  color: #fefcff;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.5em;
}

#navbar a {
  color: #e0dfdd;
  padding: 0 1em;
  text-decoration: none;
  font-weight: bold;
}

#navbar .links {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

#banner {
  background: url(../media/photos-accueil.jpg);
  width: 100vw;
  max-width: 100vw;
  margin-top: 5vh;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#banner .caption {
  width: 30%;
  height: auto;
  background: rgba(224, 223, 221, 0.7);
  padding: 3%;
}

#banner .text {
  text-align: center;
}

#banner .text h3 {
  color: #fefcff;
  font-family: "Pacifico", cursive;
  font-size: 1.5em;
}

#banner .text p {
  color: #371437;
  font-family: "Lato", sans-serif;
}

#banner #payments h3 {
  color: #871a75;
}

#arrangements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10% 0;
}

#arrangements h2 {
  text-align: center;
}

#arrangements .arrUL {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 235px;
  -ms-grid-rows: 235px 235px 235px 235px;
  max-width: 100%;
  margin-top: 5%;
  padding: 0;
      grid-template-areas: ". arrOne arrTwo arrThree ." ". arrFour arrTwo arrFive ." ". arrSix arrSeven arrEight ." ". arrSix arrSeven arrEight .";
}

#arrangements .arrOne {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: arrOne;
  background-color: #fefcff;
  padding: 10px;
}

#arrangements .arrTwo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: arrTwo;
  background-color: #c8b6b4;
  padding: 10px;
}

#arrangements .arrThree {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: arrThree;
  background-color: #fefcff;
  padding: 10px;
}

#arrangements .arrFour {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: arrFour;
  background-color: #371437;
  padding: 10px;
}

#arrangements .arrFive {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: arrFive;
  background-color: #371437;
  padding: 10px;
}

#arrangements .arrSix {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: arrSix;
  background-color: #e0dfdd;
  padding: 10px;
}

#arrangements .arrSeven {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: arrSeven;
  background-color: #fefcff;
  padding: 10px;
}

#arrangements .arrEight {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: arrEight;
  background-color: #e0dfdd;
  padding: 10px;
}

#grief {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10% 0;
}

#grief h2 {
  text-align: center;
}

#grief .griefUL {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 235px;
  -ms-grid-rows: 235px 235px 235px 235px;
  max-width: 100%;
  margin-top: 5%;
  padding: 0;
      grid-template-areas: ". griefOne griefTwo griefThree ." ". griefFour griefTwo griefFive ." ". griefSix griefSeven griefEight ." ". griefSix . griefEight .";
}

#grief .griefUL .griefOne {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: griefOne;
  background-color: #fefcff;
  padding: 10px;
}

#grief .griefUL .griefTwo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: griefTwo;
  background-color: #e0dfdd;
  padding: 10px;
}

#grief .griefUL .griefThree {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: griefThree;
  background-color: #fefcff;
  padding: 10px;
}

#grief .griefUL .griefFour {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: griefFour;
  background-color: #371437;
  padding: 10px;
}

#grief .griefUL .griefFive {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: griefFive;
  background-color: #371437;
  padding: 10px;
}

#grief .griefUL .griefSix {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: griefSix;
  background-color: #c8b6b4;
  padding: 10px;
}

#grief .griefUL .griefSeven {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: griefSeven;
  background-color: #371437;
  padding: 10px;
}

#grief .griefUL .griefEight {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: griefEight;
  background-color: #c8b6b4;
  padding: 10px;
}

footer {
  background: #871a75;
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

footer h2,
footer p,
footer a {
  font-family: "Lato", sans-serif;
  color: #fefcff;
  text-align: start;
  margin: 0;
  text-decoration: none;
}

footer h2 {
  font-size: 1.5em;
}

footer .legNotice {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .legNotice a {
  padding: 25px;
}

.legNoticePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10vh 5vh;
}

.legNoticePage ul li h4 {
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #c8b6b4;
}

.legNoticePage ul li p {
  color: #371437;
}
/*# sourceMappingURL=style.css.map */